* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  text-decoration:none;
}

.grid > * > * {
  display:inline-block;
  width:100%;
  vertical-align:top;
  text-align:left;
  float:left;
}

.grid > * {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  padding:0 0 0 0;
  margin:0 0 0 0;
  position:relative;
  float:none;
}

.grid {
  width:100%;
  display:table;
  table-layout:fixed;
  text-align:center;
  vertical-align:middle;
  padding:0;
  margin:0;
  border-spacing:0;
  position:relative;
}

.list > *:last-child .bb,
.list > .bb:last-child {
  border-bottom-width:0;
}

.non-grid {
  display:block;
  width:100%;
  clear:both;
  float:right;
}

.grid.week.b-b {
  border-bottom:solid 1px #368DC3;
}

.gridList {
  height:400px;
  overflow-y:auto;
}

.gridList > div {
  margin:4px 0 4px 0;
}

.gridList * input {
  font-size:12px;
}
